.puclicar {
    margin: 5%;
    padding: 0%;
}

.publi {
    margin: 0%;
    background-color: white;
    border-style: groove;
}

.commentt {
    margin: 1% 0% 0% 0%;
    
    border-style: groove;
}

.comww {
    margin: 0%;
    background-color: white;
}


