<div class="puclicar ">
  <div class="bg-white border border-primary p-3 rounded ">
    <div class="row">
      <div class="col-3 avataru pt-3 pb-5" align="center">
        <img src="../../assets/img/profileTest/perfil.jpg" width="45%" alt="Nombre usuario" class="rounded-circle picture">
      </div>
      <div class="col-9 pt-5">
        Id Autor: {{autor}}
      </div>
    </div>
    <div class="row ">
      <div class="col-12 contenidU" *ngFor = "let parrafo of contenido.parrafos">
        <p>{{parrafo}}</p>
      </div>
    </div>
  </div>


  <div class="commentt m-3 ">
    <div class="container border border-primary p-3 rounded bg-white">
      <div class="row comww ">
        <div class="col-3 avataru" align="center">
          <img src="../../assets/img/profileTest/o_perfil.png" width="45%" alt="Nombre usuario" class="rounded-circle picture">
        </div>
        <div class="col-9">
          Nombre usuario
        </div>
        <div class="row">
          <div class="col-3">

          </div>
          <div class="col-9">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam sequi aliquam expedita impedit minus
              sunt
              molestias, maiores quae cum reprehenderit in ex dicta nemo quisquam quis non, magnam nobis saepe.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>