.puclicar {
    margin: 5%;
    padding: 0%;
}

.publi {
    margin: 0%;
    background-color: white;
    border-style: groove;
}

.titulo {
    width: 100%;
}

.onedit{
    text-decoration: underline;
    border: 1px solid lightseagreen;
    color: #3F3F3F;
}