<div class="puclicar">
  <div class="publi">
    <div class="row">
      <div class="col-3 avataru" align="center">
        <img src="../../assets/img/profileTest/perfil.jpg" width="45%" alt="Nombre usuario" class="rounded-circle picture">
      </div>
      <div class="col-9">
        Nombre usuario
      </div>
    </div>
    <div class="row">
      <div class="col-12 contenidU">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam reprehenderit ipsam perspiciatis
          recusandae
          est accusantium id ducimus voluptatum, obcaecati adipisci vel ex nesciunt, incidunt tempore veniam dolor,
          impedit nostrum possimus?
          Itaque excepturi, quibusdam laborum, mollitia natus exercitationem amet nulla, rerum numquam ratione eveniet
          accusantium hic inventore perferendis eius ex sapiente nobis. Impedit pariatur illo tempore adipisci
          assumenda?
          Expedita, natus dignissimos?
          Ipsa tempora consectetur ad ducimus doloremque perferendis excepturi. Eveniet possimus cupiditate voluptatem
          nobis beatae aspernatur blanditiis sequi inventore, quod tenetur, harum odit tempora itaque asperiores illo
          ipsum facere minima. Blanditiis?</p>
      </div>
    </div>
  </div>


  <div class="commentt">
    <div class="row comww">
      <div class="col-3 avataru" align="center">
        <img src="../../assets/img/profileTest/o_perfil.png" width="45%" alt="Nombre usuario" class="rounded-circle picture">
      </div>
      <div class="col-9">
          Nombre usuario
      </div>
      <div class="row">
        <div class="col-3">

        </div>
      <div class="col-9">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam sequi aliquam expedita impedit minus sunt
          molestias, maiores quae cum reprehenderit in ex dicta nemo quisquam quis non, magnam nobis saepe.</p>
      </div>
      </div>
    </div>
  </div>
</div>