<div class="contenedorRED">
    <app-navegacion></app-navegacion>
    <div class="splitter"></div>
    <main>
        <router-outlet></router-outlet>
    </main>
    <!--FOOTER-->
    <footer>
        <div align="center">
            <a href="https://github.com/DiegoVeega/RedSocialDIY"><i class="fab fa-github fa-lg white-text mr-md-5 mr-3 fa-2x"></i></a>
        </div>
        <div align="center">
            © 2018 Copyright: <a href="https://github.com/DiegoVeega/RedSocialDIY">Equipo Ictho</a>
        </div>
    </footer>
</div>