<div class="contenedorRED">
    <app-navegacion></app-navegacion>
    <div class="splitter"></div>
    <main>
        <router-outlet></router-outlet>
    </main>
    <!--FOOTER-->
    <footer>
        <div align="center">
            <p>Footer temponal</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur molestias, facere porro illo repellendus dolorem aliquid et nobis excepturi impedit corporis libero numquam! Aperiam cum doloremque aut possimus quis error.
            Quaerat ex incidunt, tempora modi quos labore autem sit iure dolore nemo dolorem, tempore dignissimos laboriosam doloremque alias tenetur dolorum voluptatibus? Provident nesciunt accusamus tempora dolorum! Quasi ut alias ad.
            Unde tempore illo tenetur, accusamus quis corporis quos laudantium obcaecati cumque vitae? Sit porro numquam ipsa inventore quas, esse non sunt. Deserunt laborum sint, sequi quis eius aspernatur facilis beatae?
            Cumque officiis nemo neque totam ea facilis fuga quam inventore molestias facere, cupiditate eum ad praesentium ullam corporis voluptatibus laborum voluptas itaque voluptate? Laborum sint error accusantium magni, vitae illo!
            Eius minima fuga labore neque officia inventore, soluta corporis porro tempora commodi, velit pariatur cum dolores quia cumque animi saepe incidunt, quae nesciunt. Cum cumque vel quo error voluptatibus harum.
            Harum animi ad beatae inventore voluptas perspiciatis quo enim eius libero vel, at fuga impedit similique consectetur deleniti minus aperiam facere. Nulla, necessitatibus mollitia distinctio nobis voluptatem sed harum quibusdam!
            Esse quia culpa animi, odio eveniet blanditiis ut ipsa sunt nobis tempore earum nesciunt harum voluptates dolore qui ratione alias fugit assumenda beatae quisquam laborum dolorum iste inventore accusantium? Esse!
            Excepturi ipsam libero ipsa, sunt, recusandae corporis ullam sapiente repellendus exercitationem, veritatis voluptatem doloremque atque cum consectetur incidunt similique quis officia vel odio! Quidem iusto expedita sapiente perferendis, deserunt incidunt.</p>
        </div>
    </footer>
</div>