<div class="contenedorRED">
    <app-navegacion></app-navegacion>
    <div class="splitter"></div>
    <main>
        <router-outlet></router-outlet>
    </main>
    <!--FOOTER-->
    <footer>
        <div align="center">
            <p>Footer temponal</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur molestias, facere porro illo repellendus dolorem aliquid et nobis excepturi impedit corporis libero numquam! Aperiam cum doloremque aut possimus quis error.
            Quaerat ex incidunt, tempora modi quos labore autem sit iure dolore nemo dolorem, tempore dignissimos laboriosam doloremque alias tenetur dolorum voluptatibus? Provident nesciunt accusamus tempora dolorum! Quasi ut alias ad.
            .</p>
        </div>
    </footer>
</div>