<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SocialDIY</title>
</head>
<body>
    <header>
        <div class="Top">
            <div class="logo-top">

            </div>
            <div class="op-bar">
                <ul>
                    <li>OP1</li>
                    <li>OP2</li>
                    <li>OP3</li>
                </ul>
            </div>
            <div class="busqueda-bar">

            </div>
            <div class="user">
                <p>SECCION DE USER</p>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="amigos-bar">
            
        </div>
        <main class="content">

        </main>
        <div class="interes-bar">

        </div>
    </div>
</body>
</html>