<div class="container">
  <div class="row justify-content-md-center pl-5 pt-3 pb-3">
    <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2 card pt-3 pb-3">
      <div class="row">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 pl-3 pr-3 pb-3">
            <img [src]="this.session.myUser.picture" alt="{{this.session.myUser.name}}" class="rounded-circle picture">
          </div>
          <div class="col-sm-10 col-md-10 col-lg-10 col-xl-10 info">
            <div class="userName pl-3">Usuario: {{this.session.myUser.name}}</div>
          </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 pl-3">
          <a routerLink="configuracion" (click)="clickConfigGeneral()" class="fondo1 text-body btn btn-primary btn-block">General</a>
          <br>
          <a routerLink="configuracion" (click)="clickConfigPrivado()" class="fondo1 text-body btn btn-primary btn-block">Privacidad</a>
        </div>
      </div>
    </div>
    <div class="col-sm-10 col-md-10 col-lg-10 col-xl-10 p-3">
        <section class="centrar col-10">
            <!--Campos de las opciones de configuracion-->
            <div id="general" class="d-block">
                <!--Opciones de la configuracion general-->
                <!--Cambiar el nombre del usuario-->
                <div class="row justify-content-center">
                    <label for="chagename" id="newName" (click)="opCampoGe(1)">Cambiar nombre</label>
                </div>
                <div class="row justify-content-center d-none" id="campoNewName">
                    <input type="text" name="chagename" placeholder="Nuevo nombre">
                    <button type="submit" id="btnNewName">cambiar</button>
                </div>                        
                <!--Cambiar la contraseña-->
                <div class="row justify-content-center">
                    <label for="changepassword" id="newPass" (click)="opCampoGe(2)">Cambiar contraseña</label>
                </div>
                <div class="row justify-content-center d-none" id="campoNewPass">
                    <input type="password" placeholder="Contraseña">
                    <input type="password" placeholder="Nueva contraseña">
                    <button type="submit" id="btnNewPass">cambiar</button>
                </div>
                <!--Cambiar tema-->
                <div class="row justify-content-center">
                    <label for="changetema" id="newTema" (click)="opCampoGe(3)">Cambiar tema</label>
                </div>
                <div class="row justify-content-center d-none" id="campoNewTema">
                    Tema 1 <input type="radio" name="changetema" id="tema1">
                    Tema 2 <input type="radio" name="changetema" id="tema2">
                    Tema 3 <input type="radio" name="changetema" id="tema3">
                    <button type="submit" id="btnNewTema">cambiar</button>
                </div>
            </div>
            <div id="privacidad" class="d-none">
                <!--Opciones de la configuracion privacidad-->
                <div class="row justify-content-center">
                    <label for="changeperfil" id="verPerfil" (click)="opCampoPriv(1)">Perfil</label>
                </div>
                <div class="row justify-content-center d-none" id="campoVerPerfil">
                    Publico <input type="radio" name="changeperfil" id="verPublico">
                    Privado <input type="radio" name="changeperfil" id="verPrivado">
                    <button type="submit" id="btnVerPerfil">cambiar</button>
                </div>
            </div>
        </section>
    </div>
  </div>
</div>