<div class="container">
  <div class="row justify-content-md-center pl-5 pt-3 pb-3">
    <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2 card pt-3 pb-3">
      <div class="row">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 pl-3 pr-3 pb-3">
            <img [src]="this.session.myUser.picture" alt="{{this.session.myUser.name}}" class="rounded-circle picture">
          </div>
          <div class="col-sm-10 col-md-10 col-lg-10 col-xl-10 info">
            <div class="userName pl-3">{{this.session.myUser.name}}</div>
            <div class="description pl-3">{{this.session.myUser.name}}</div>
          </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 pl-3">
          <a routerLink="configuracion" class="text-body">General</a>
        </div>
      </div>
    </div>
    <div class="col-sm-10 col-md-10 col-lg-10 col-xl-10 p-3">
    </div>
  </div>
</div>