
.Empresa {
    height: 900%;
    width: 10%;
}

.Empresa img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: bottom;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #2a2a2a;
}
.Empresa {
    font-size: 2em;
}

.in-head {
    display: grid;
    grid-template-columns: auto auto auto;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    padding: 0em 1.5em;
}

.list-nav ul {
    margin: 0%;
    padding: 0%;
}
.list-nav ul li {
    display: inline;
    padding: 0.5em;
}

.list-nav ul li a {
    text-decoration: none;
    color: #e7e7e7;
    font-size: 0.8em;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

.Connect {
    display: grid;
    grid-template-columns: auto auto;
    color: #e7e7e7;
    font-size: 0.8em;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    padding: 0em 0em;
    justify-content: center;
    align-items: center;
}
.Connect ul {
    margin: 0%;
    padding: 0%;
}
.Connect ul li {
    display: inline;
    font-size: 1em;
    padding: 0.5em;
}

.Connect div {
    padding: 1.5em;
}

.registro {
    padding: 1.5em;
    background-color:#f5f500;
}

.Connect div span {
    color: #000000;
}
/* Barra de busqueda*/
.contenbar {
    padding: 0.5%;
    width: 35%;
}

.colorbox{
    background-color: var(--main-color2);
    float: right;
    width: 30%;
    border-radius: 0.5em;
    transition: all 0.3s ease;
}
.searchbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.colorbox:hover {
    width: 100%;
}

.searchbox input[type=text] {
    border: none;
    background: none;
    outline: none;
    padding: 0.59em;
    color: var(--color2);
    font-size: 1em;
    line-height: 0.4em;
    width: 80%;
}

.searchbox p {
    color: var(--color2);
    width: 10%;
    padding: 0.2em;
    max-width: 50px;
    text-align: right;
    margin-bottom: 0;
}

.Connect a {
    text-decoration: none;
}

.Connect ul li a {
    color: #e7e7e7;
}

.Connect span a {
    color: #2a2a2a;
}