<header>
  <div class="in-head">
    <div class="Empresa">
      <img src="assets/img/main_logo.png" alt="Logo RedSocial">
    </div>
    <nav class="list-nav">
      <div class="ops">
        <ul>
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/profile">Test profile</a></li>
          <li><a routerLink="/configuracion">TEST confi</a></li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="contenbar">
    <div class="colorbox">
      <div class="searchbox">
        <input type="text" name="search-bar" placeholder="Buscar...">
        <p>
          <i class="fas fa-search"></i>
        </p>
      </div>
    </div>
  </div>
 <!-- Esta parte del HTML se renderiza su hay usuario de lo cotrario renderiza la plantilla,
  detecta automaticametne los cambios asi que si el usuario se crea despues de renderizar  la pagina 
  igual cambiara automaticamente sin trecargar la pagina-->
  <!-- else init_sesion_block declara que plantilla se renderisa si la condicion falla-->
  <div class="Connect container w-25 " *ngIf="this.session.myUser; else init_sesion_block">
      <img [src]="this.session.myUser.picture" alt="{{this.session.myUser.name}}" class="rounded-circle w-25">
    <p>nombre del usuario: {{this.session.myUser.name}}</p>
  </div>
 <!--#init_sesion_block delcara el nombre de la plantilla y dentro su contenido-->
  <ng-template #init_sesion_block class="Connect">
    <div>
      <ul>
        <li><a routerLink="/login">Iniciar Sesion</a></li>
      </ul>
    </div>
    <div class="registro">
      <span><a routerLink="/registro">Unirme</a></span>
    </div>
  </ng-template>
</header>