<header>
  <div class="in-head">
    <div class="Empresa">
      <img width="20%" src="assets/img/provi.png" alt="Logo Redsocial">
    </div>
    <nav class="list-nav">
      <div class="ops">
        <ul>
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/profile">Test profile</a></li>
          <li><a routerLink="/configuracion">TEST confi</a></li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="contenbar">
    <div class="colorbox">
      <div class="searchbox">
        <input type="text" name="search-bar" placeholder="Buscar...">
        <p>
          <i class="fas fa-search"></i>
        </p>
      </div>
    </div>
  </div>

  <div class="Connect container w-25 " *ngIf="this.session.myUser; else init_sesion_block">
    <img [src]="this.session.myUser.picture" [alt]= "this.session.myUser.name" class="rounded-circle w-25">
    <p>nombre del usuario: {{this.session.myUser.name}} </p>
  </div>

  <ng-template #init_sesion_block class="Connect">
    <div>
      <ul>
        <li><a routerLink="/login">Iniciar Sesion</a></li>
      </ul>
    </div>
    <div class="registro">
      <span><a routerLink="/registro">Unirme</a></span>
    </div>
  </ng-template>
</header>