<header *ngIf="!user">
    <div class="in-head">
      <div class="Empresa">
        <!--
        <img src="assets/img/main_logo.png" alt="Logo RedSocial">
        -->
      </div>
      <nav class="list-nav">
        <div class="ops">
          <ul>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/">Opcion</a></li>
            <li><a routerLink="/">Option</a></li>
          </ul>
        </div>
      </nav>
    </div>
  
    <div class="contenbar">
      <div class="colorbox">
        <div class="searchbox">
          <input type="text" name="search-bar" placeholder="Buscar...">
          <p>
            <i class="fas fa-search"></i>
          </p>
        </div>
      </div>
    </div>
  
    <div class="Connect">
      <div>
        <ul>
          <li><a routerLink="/login">Iniciar Sesion</a></li>
        </ul>
      </div>
      <div class="registro">
        <span><a routerLink="/registro">Unirme</a></span>
      </div>
    </div>
  </header>
  <!--HEADHEADHEADHEADHEADHEADHEADHEADHEADHEADHEADHEADHEADHEADHEADHEADHEADHEADHEADHEADHEADHEADHEADHEADHEADHEADHEADHEADHEADHEADHEADHEAD-->
  <header *ngIf="user">
      <div class="in-head">
        <div class="Empresa">
          <!--
          <img src="assets/img/main_logo.png" alt="Logo RedSocial">
          -->
        </div>
        <nav class="list-nav">
          <div class="ops">
            <ul>
              <li><a routerLink="/">Home</a></li>
              <li><a routerLink="/">Opcion</a></li>
              <li><a routerLink="/">Option</a></li>
            </ul>
          </div>
        </nav>
      </div>
    
      <div class="contenbar">
        <div class="colorbox">
          <div class="searchbox">
            <input type="text" name="search-bar" placeholder="Buscar...">
            <p>
              <i class="fas fa-search"></i>
            </p>
          </div>
        </div>
      </div>
    
      <div class="Connect">
        <div>
          <ul>
            <li><a routerLink="/profile">nombreUser</a></li>
            <li><a routerLink="/profile">AVATAR</a></li>
          </ul>
        </div>
      </div>
    </header>