<div class="container">
  <div class="d-flex">
    <div class="m-5 rounded m-5">
      <div class="col-sm-12-12 col-md-12-12 col-lg-12-12 col-xl-12-12 p-1 bg-white friends card">
        <div class="mb-3 mt-3">Friends</div>
        <div class="mb-3 mt-3">Friends</div>
        <div class="mb-3 mt-3">Friends</div>
        <div class="mb-3 mt-3">Friends</div>
      </div>
    </div>
    <div class="container m-5 ">
      <div class="col row border border-primary p-3 rounded bg-white">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
          <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
              <img src="../../assets/img/profileTest/perfil.jpg" alt="..profile" class="rounded-circle picture">
            </div>
            <div class="col-sm-10 col-md-10 col-lg-10 col-xl-10 info">
              <div class="userName">User Name</div>
              <div class="description">Description</div>
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12  category">Category Slide</div>

        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
          <div class="topic">Topic Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia mollitia earum
            dicta
            natus assumenda, itaque, similique hic veniam ullam a quaerat reprehenderit! Dolor dolorum odit suscipit.
          </div>
          <div class=" commentary">Commentary similique hic veniam ullam a quaerat reprehenderit!</div>
        </div>

      </div>
    </div>
  </div>
</div>