<div class="contentt">
  <ul *ngIf="this.session.myUser">
    <li>
      <img [src]="this.session.myUser.picture" [alt]="this.session.myUser.name">
      <p>{{ this.session.myUser.name}} tupido {{ this.session.myUser.edad}} </p>
    </li>
  </ul>

  <div *ngIf="this.session.myUser" class="contenedor">
    <div class="lateral">
      <ul align="center">
        <li><a href="#">Friend Av</a></li>
        <li><a href="#">Friend Av</a></li>
        <li><a href="#">Friend Av</a></li>
        <li><a href="#">Friend Av</a></li>
        <li><a href="#">Friend Av</a></li>
      </ul>
    </div>
    <div class="lateral">
      <ul align="center">
        <li><a href="#">Categoria</a></li>
        <li><a href="#">Categoria</a></li>
        <li><a href="#">Categoria</a></li>
        <li><a href="#">Categoria</a></li>
        <li><a href="#">Categoria</a></li>
      </ul>
    </div>
  </div>
  <input type="button" value="edad de suarior" (click)='checkuserage()'>
  <p>antes</p>
  <div class="vscrollerx">
    <h1>Publicaciones</h1>
    <h2>Virtual Scroll using Angular 7</h2>
    <ul>
      <cdk-virtual-scroll-viewport [itemSize]="120">
        <ng-container *cdkVirtualFor="let p of this.dataserver.publicaciones | async">
          <li class="public">
            <div class="contenu">
              <p class="titulu">{{p.titulo}}</p>
              <div class="sumary">
                <p>{{p.resumen}}</p>
              </div>
            </div>
            <div class="autorinfo" [style.background-color]="'gray'">
              <img [src]="p.autor.propicture" [alt]="p.autor.username" class="rounded-circle">
              <p>{{p.autor.username}}</p>
            </div>

          </li>
        </ng-container>
      </cdk-virtual-scroll-viewport>
    </ul>
  </div>
  <p>despues</p>
</div>