.contentt{
    margin: 0%;
    padding: 0%;
}
.contenedor {
    margin:0%;
    padding: 0%;
    display: grid;
    grid-template-columns: 8% 80% auto;
}

.lateral{
    background-color: #393939;
}

.lateral ul{
    margin: 0%;
    padding: 0%;
}

.lateral ul li {
    display: block;
    padding: 0.5em;
}

.lateral ul li a {
    text-decoration: none;
    color: #e7e7e7;
    font-size: 0.8em;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

.content{
    padding: 2em;
}

.vscrollerx {
    width: 80%;
    margin: auto;
    text-align: center;
}

cdk-virtual-scroll-viewport {
    height: 800px;
}

cdk-virtual-scroll-viewport .public {
    height: 120px;
    background-color: #fafafa;
    padding: 1em;
    margin: 0.5em;
    display: flex;
    overflow: hidden;
}

cdk-virtual-scroll-viewport .public .contenu {
    width: 70%;
}
cdk-virtual-scroll-viewport .public .contenu p {
    height: 20px;
}

cdk-virtual-scroll-viewport .public .autorinfo {
    width: 30%;
}

cdk-virtual-scroll-viewport .public .autorinfo img{
    object-fit: cover;
    height: 80px;
}