
.contenedor {
    margin:0%;
    padding: 0%;
    display: grid;
    grid-template-columns: 8% 80% auto;
}

.lateral{
    background-color: #393939;
}

.lateral ul{
    margin: 0%;
    padding: 0%;
}

.lateral ul li {
    display: block;
    padding: 0.5em;
}

.lateral ul li a {
    text-decoration: none;
    color: #e7e7e7;
    font-size: 0.8em;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

.content{
    padding: 2em;
}
