<div class="mainsec">
  <section>
      <div class="slider">
          <img src="assets/img/slide/hqdefault.jpg" alt=" paisaje">
          <div>
              <p>meta un slide show aqui</p>
          </div>

      </div>
  </section>
  <section>
      <div class="sqre">
          <div class="panel">
              <article>
                  <img src="assets/img/slide/Prime_Trilogy_Chozo_Ruins.jpg" alt="una imagen">
                  <h2>Categoria 1</h2>
                  <br>
                  <p>descripcion de la categoria 1 aqui se puiede poder un resumen</p>
              </article>
          </div>

          <div class="panel">
              <article>
                  <img src="assets/img/slide/Prime_Trilogy_Chozo_Ruins.jpg" alt="una imagen">
                  <h2>Categoria 1</h2>
                  <br>
                  <p>descripcion de la categoria 1 aqui se puiede poder un resumen</p>
              </article>
          </div>

          <div class="panel">
              <article>
                  <img src="../../../../asset/img/slide/Prime_Trilogy_Chozo_Ruins.jpg" alt="una imagen">
                  <h2>Categoria 1</h2>
                  <br>
                  <p>descripcion de la categoria 1 aqui se puiede poder un resumen</p>
              </article>
          </div>

          <div class="panel">
              <article>
                  <img src="../../../../asset/img/slide/Prime_Trilogy_Chozo_Ruins.jpg" alt="una imagen">
                  <h2>Categoria 1</h2>
                  <br>
                  <p>descripcion de la categoria 1 aqui se puiede poder un resumen</p>
              </article>
          </div>

          <div class="panel">
              <article>
                  <img src="../../../../asset/img/slide/Prime_Trilogy_Chozo_Ruins.jpg" alt="una imagen">
                  <h2>Categoria 1</h2>
                  <br>
                  <p>descripcion de la categoria 1 aqui se puiede poder un resumen</p>
              </article>
          </div>

          <div class="panel">
              <article>
                  <img src="../../../../asset/img/slide/Prime_Trilogy_Chozo_Ruins.jpg" alt="una imagen">
                  <h2>Categoria 1</h2>
                  <br>
                  <p>descripcion de la categoria 1 aqui se puiede poder un resumen</p>
              </article>
          </div>

          <div class="panel">
              <article>
                  <img src="../../../../asset/img/slide/Prime_Trilogy_Chozo_Ruins.jpg" alt="una imagen">
                  <h2>Categoria 1</h2>
                  <br>
                  <p>descripcion de la categoria 1 aqui se puiede poder un resumen</p>
              </article>
          </div>

          <div class="panel">
              <article>
                  <img src="../../../../asset/img/slide/Prime_Trilogy_Chozo_Ruins.jpg" alt="una imagen">
                  <h2>Categoria 1</h2>
                  <br>
                  <p>descripcion de la categoria 1 aqui se puiede poder un resumen</p>
              </article>
          </div>

          <div class="panel">
              <article>
                  <img src="../../../../asset/img/slide/Prime_Trilogy_Chozo_Ruins.jpg" alt="una imagen">
                  <h2>Categoria 1</h2>
                  <br>
                  <p>descripcion de la categoria 1 aqui se puiede poder un resumen</p>
              </article>
          </div>

          <div class="panel">
              <article>
                  <img src="../../../../asset/img/slide/Prime_Trilogy_Chozo_Ruins.jpg" alt="una imagen">
                  <h2>Categoria 1</h2>
                  <br>
                  <p>descripcion de la categoria 1 aqui se puiede poder un resumen</p>
              </article>
          </div>

      </div>
      <!--fin del grid -->
  </section>
</div>