<div class="container row">
  <div class="background  col-md-6"></div>
  <div class="R-S col-md-6">
      <div class="register">
          <p class="title">Logo</p>
          <div>
              <input type="email" placeholder="Email" class="email">
              <input type="text" placeholder="User" class="user">
              <input type="text" placeholder="Password" class="password">
              <input type="text" placeholder="Repeat Password" class="rpassword"> 
          </div>
          <button class="button btn btn-primary">Bienvenido</button>
          <p class="log">Ya estoy registrado. <a href="#">Iniciar Sesion</a></p>
      </div>
      <div class="session"></div>
  </div>
</div>
